@import url('https://fonts.googleapis.com/css?family=Nunito|Kosugi+Maru|M+PLUS+1p|Noto+Serif+JP|Sarabun|Sawarabi+Mincho&display=swap|Noto+Sans+JP|M+PLUS+Rounded+1c|Sawarabi+Gothic');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  background: black;
  font-family: 'Nunito';
  overflow: hidden;
}

.cnv-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 400px;
  height: 400px;
  top: calc(50vh - 200px);
}

.a-canvas {
  width: 100px;
  height: 100px;
  width: 100px;
  height: 100px;
  margin: 20px;
  border-radius: 50%;
  box-shadow: 0 0 30px 0px rgb(255 243 243);
  animation: 4s ease 0s levitate 3;
  transition: transform 0.3s ease;
  opacity: 0;
}

@keyframes levitate {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(0px, -40px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

#the-canvas {
  opacity: 0;
  transition: 0.3s ease;
  display: none;
}

button {
  position: absolute;
  color: white;
  display: block;
  text-align: center;
  background: none;
  border: none;
  margin: 0 auto;
  font-size: 40px;
  transition: 0.3s ease;
  opacity: 1;
  z-index: 10;
}

p {
  position: absolute;
  color: red;
  font-size: 28px;
  text-align: center;
  left: 0px;
  right: 0px;
  margin: 0px;
  padding: 20px;
  letter-spacing: 2px;
  z-index: 10;
}

input {
  position: relative;
  display: block;
  z-index: 10;
}
