@import url('https://fonts.googleapis.com/css?family=Nunito|Kosugi+Maru|M+PLUS+1p|Noto+Serif+JP|Sarabun|Sawarabi+Mincho&display=swap|Noto+Sans+JP|M+PLUS+Rounded+1c|Sawarabi+Gothic');

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Nunito';
  background: black;
  overflow: hidden;
}

#canvas {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: block;
  top: 0vh;
  z-index: 1;
  margin: 0 auto;
}

p {
  position: absolute;
  color: red;
  font-size: 28px;
  text-align: center;
  left: 0px;
  right: 0px;
  margin: 0px;
  padding: 20px;
  letter-spacing: 2px;
  z-index: 10;
}

input {
  position: relative;
  display: block;
  z-index: 10;
}
