@import url('https://fonts.googleapis.com/css?family=Nunito|Kosugi+Maru|M+PLUS+1p|Noto+Serif+JP|Sarabun|Sawarabi+Mincho&display=swap|Noto+Sans+JP|M+PLUS+Rounded+1c|Sawarabi+Gothic');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

:root {
  --cb-1: cubic-bezier(.29,.7,.41,.95);
  --cb-2: cubic-bezier(.3,.91,.8,.84);
  --cb-3: cubic-bezier(.79,.15,.69,.92);
  --cb-4: cubic-bezier(.16,.51,.98,.84);
  --cb-5: cubic-bezier(.34,.53,.83,.7);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  background: black;
  font-family: 'Prompt';
  font-weight: 100;
  overflow: hidden;
  flex-direction: column;
}

.navigation {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  top: calc(50vh - 25px);
  left: 60px;
  z-index: 11;
  opacity: 0;
  transition: 0.3s ease;
}

.visible {
  left: 60px;
  opacity: 1;
}

.hidden {
  left: 40px;
  opacity: 0;
}

.navigation a {
  color: white;
  text-decoration: none;
  transition: 0.25s ease;
}

.navigation a:hover {
  letter-spacing: 3px;
  text-decoration: underline;
}

.menu {
  position: absolute;
  display: block;
  top: calc(50vh);
  left: 20px;
  z-index: 11;
  cursor: pointer;
}

.bar {
  position: relative;
  display: block;
  margin: 0 auto;
  background: white;
  height: 1px;
  width: 20px;
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 7px;
  transition: 0.5s;
}

.fur {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 1;
}

.the-canvas {
  opacity: 0;
  display: block;
  transition: opacity 0.75s var(--cb-2);
  z-index: 2;
  width: 100%;
}

.foreground {
  position: absolute;
  display: flex;
  margin: 0 auto;
  width: 100%;
  height: 200px;
  left: 0px;
  right: 0px;
  z-index: 10;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  transition: 0.25s ease;
}

.selection {
  position: relative;
  display: block;
  margin: 0 auto;
  background: none;
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  margin-top: 20px;
  padding: 6px 10px;
  cursor: pointer;
}

.start-btn {
  position: relative;
  left: 0px;
  right: 0px;
  max-width: 200px;
  margin: 0 auto;
  border: none;
  background: none;
  color: white;
  font-size: 40px;
  text-align: center;
  display: block;
  opacity: 1;
  transition: 0.3s ease;
  z-index: 10;
  cursor: pointer;
}

.hide {
  opacity: 0;
  display: none;
}

.controls {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: 200px;
  left: 0px;
  right: 0px;
  bottom: 30px;
  grid-gap: 10px;
  opacity: 0;
  z-index: 11;
}

.control-btn {
  border: 1px solid white;
  border-radius: 4px;
  background: none;
  color: white;
  margin-top: 10px;
  padding: 8px;
  min-width: 30px;
  cursor: pointer;
}

.key-info {
  position: relative;
  color: white;
  display: none;
}

.active-reading {
/*  border: 1px solid rgba(255, 255, 255, 1);*/
  text-shadow: #fff 0px 0px 0px;
  transform: translate(0, -40px);
  opacity: 1;
  display: block;
  animation: 1.5s ease-in-out 0s glow infinite;
}

@keyframes glow {
  0% {
    text-shadow: #fff 0px 0px 0px;
  }

  40% {
    text-shadow: #fff 0px 0px 10px;
  }

  100% {
    text-shadow: #fff 0px 0px 0px;
  }
}

.slide-up {
  display: block;
  animation: 0.5s var(--cb-1) 0s upslide 1 forwards;
}

@keyframes upslide {
  0% {
    opacity: 0;
    transform: translate(0px, 0px);
  }

  100% {
    opacity: 1;
    transform: translate(0px, -40px);
  }
}

.background {
  position: absolute;
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  left: 0px;
  right: 0px;
  top: calc(50vh - 150px);
  border-radius: 50%;
/*  border: 1px solid white;*/
  background: black;
  z-index: 2;
  overflow: hidden;
}



.next-canvas {
  /*  position: absolute;*/
/*  transform: translate(-25%, -25%);*/
  opacity: 0;
  display: block;
  transition: opacity 0.75s var(--cb-2);
  z-index: 2;
  clip-path: circle(100%);
}

.a-canvas {
  width: 100px;
  height: 100px;
  margin: 20px;
  border-radius: 50%;
  box-shadow: 0 0 0px 0px rgb(255 243 243);
/*  animation: 4s ease 0s levitate 3;*/
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.reveal {
  opacity: 1;
}

.vanish {
  opacity: 0;
}

@keyframes toggle-clip {
  0% {
    clip-path: circle(0%);
  }

  60% {
    clip-path: circle(30%);
  }

  100% {
    clip-path: circle(0%);
  }
}

.cnv-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 400px;
  height: 400px;
  top: calc(50vh - 200px);
  z-index: 10;
}

@keyframes levitate {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(0px, -40px);
    box-shadow: 0 0 30px 0px rgb(255 243 243);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

input {
  position: relative;
  display: block;
  z-index: 10;
}
